<div class = "container">
    <h2>Bienvenue Chez Gig Me</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name%>
          <%= f.input :username%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :musician %>
          <%# <%= cf.check_box(:musician) %>
          <%# <%= label_tag :user %>
        </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Choisissez votre avatar </label>
        <input class="form-control" type="file" id="formFile">
      </div>
        <%= f.button :submit, "Créer mon compte", class: "btn"%>
        <% end %>
</div>

<%# <%= render "devise/shared/links" %>
