<div class = "container">
  <h2><%= @user.username %></h2>
  <ul class="user-group">
      <li class="list-group-item"><%= @user.first_name %></li>
      <li class="list-group-item"><%= @user.last_name %></li>
      <li class="list-group-item"><%= @user.email %></li>
  </ul>
  <div class = "d-flex justify-content-center">
      <div class="text-center">
        <% if current_user.musician == true %>
        <%= link_to 'Créer ma fiche produit', new_offer_path(), class: "btn"%>
        <%= link_to 'Mettre à jour ma fiche produit', edit_offer_path(), class: "btn"%>
        <% else %>
        <%= link_to 'Mes réservations', bookings_path(), class: "btn"%>
        <% end %>
     </div>
        <div class = "card">
          <h5>Votre offre à ce jour :</h5>
           <% if current_user.offer != nil %>
            <h2><%= @offer.title %></h2>
              <%= render 'offers/card', offer: @offer %>
          <% end %>
        </div>
    </div>
</div>
