<div class="card-header p-3 mb-2 bg-dark text-white row" >
      <%# <%= notice %>
      <div class= "container col-lg-6  col-12">
          <% if  offer.photo.attached? %>
          <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill, class: 'center-img' %>
          <%else %>
          <%= image_tag "OIP.jpg", height: 300, width: 400, crop: :fill, class: 'center-img' 'card-img-top' %>
          <% end %>
      </div>
        <div class= "container col-lg-6  col-12">
          <h2 class= "mb-3"><%= offer.title  %></h2>
          <h3 class= "mb-3">Style de Musique : <%= offer.music_style  %></h3>
          <p class= "mb-3">Qui sommes-nous ? <%= offer.description %></p>
          <p class= "mb-3"><%= offer.availability_start %></p>
          <p class= "mb-3"><%= offer.availability_end %></p>
          <h4><%= offer.price.to_i  %> € </h4>
        </div>
      </div>
</div>
