

<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= Offer::IMAGES.sample %>)">
  <div class="text-center text-white">
    <h1>De super groupes de musique à booker</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<%= form_tag offers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Band"
  %>
  <div class="btn-center">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="co-12 col-sm-6 col-md-4 mini-width">
          <%= link_to offer_path(offer), class: "text-decoration-none" do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= Offer::IMAGES.sample %>)">

              <%= offer.title %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# (<% Offer::IMAGES.sample%>
