<div class="container">
 SHOW OFFERS

<br>
<%= notice %>
</div>

<h2><%= @offer.title %></h2>
<ul class="list-group">
<%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>

<ul class="offer-group">
    <li class="list-group-item"><%= @offer.description %></li>
    <li class="list-group-item"><%= @offer.availability %></li>
    <li class="list-group-item"><%= @offer.event %></li>
    <li class="list-group-item"><%= @offer.music_style %></li>
    <li class="list-group-item"><%= @offer.price %></li>
    <li class="list-group-item"><%= @offer.place %></li>
</ul>


<%= link_to 'Create an offer', new_offer_path(), class: "btn btn-primary" %>

<br>
<br><%= link_to "Back",  root_path, class: "btn btn-primary" %>
